server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: signup-service
          uri: lb://signup-service
          predicates:
            - Path=/api/signup/**
          filters:
            - StripPrefix=1

        - id: login-service
          uri: lb://login-service
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=1

        - id: book-service
          uri: lb://book-service
          predicates:
            - Path=/api/books/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
