server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: signup-service
          uri: lb://SIGNUP-SERVICE
          predicates:
            - Path=/api/signup/**
        - id: login-service
          uri: lb://LOGIN-SERVICE
          predicates:
            - Path=/api/auth/**
        - id: book-service
          uri: lb://BOOK-SERVICE
          predicates:
            - Path=/api/books/**
          

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
