server:
  port: ${SERVER_PORT:8761}

spring:
  application:
    name: ${SPRING_APPLICATION_NAME:service-discovery}

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: http://${EUREKA_SERVER_HOST:localhost}:${EUREKA_SERVER_PORT:8761}/eureka/
  server:
    enable-self-preservation: ${EUREKA_SELF_PRESERVATION:false}
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always