server:
  port: 8083

spring:
  application:
    name: book-service
  datasource:
    url: jdbc:mysql://localhost:3306/library_book_db?createDatabaseIfNotExist=true
    username: root
    password: my-secret-pw
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

kafka:
  topic:
    book-notification: book-notification-topic

# JWT Configuration (must match login-service secret)
jwt:
  secret: 5Nh9M4kL7pQ2rT8vW1xY3zA6bC0dE4fG9hJ2kL5nM8pQ1rS4tU7vX0yZ3aB6cD9e
  expiration: 86400000  # 24 hours in milliseconds

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

logging:
  level:
    com.health.prya.book: DEBUG
